*{
    margin:0;
    padding: 0;
    box-sizing: 0;
}
.fondo{
    background-image: url(bg.png);
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.texto-portada{
    font-family: 'Tangerine', serif;
    font-size: 100px;
    font-weight: 100;
    font: bold;
}